nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    text-decoration: none;
    outline: none;
    transition: .4s ease-in-out;
}

.topMenu {
    backface-visibility: hidden;
    background: rgba(255, 255, 255, .8);
}

.topMenu > li {
    display: inline-block;
    position: relative;
}

.topMenu > li > a {
    font-family: 'Exo 2', sans-serif;
    height: 70px;
    line-height: 70px;
    padding: 0 30px;
    font-weight: bold;
    color: #003559;
    text-transform: uppercase;
}

.down:after {
    content: "á¯";
    margin-left: 8px;
    font-family: FontAwesome, serif;
}

.topMenu li a:hover {
    color: #E6855F;
}

.submenu {
    background: white;
    border: 2px solid #003559;
    position: absolute;
    left: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 11;
    width: 150px;
    /*transform: perspective(600px) rotateX(-90deg);*/
    transition: .6s ease-in-out;
}

.topMenu > li:hover .submenu {
    visibility: visible;
    opacity: 1;
    /*transform: perspective(600px) rotateX(0deg);*/
}

.submenu li a {
    color: #7f7f7f;
    font-size: 20px;
    padding: 0 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Kurale', serif;
}

.card {
    width: 25%;
}

.sign-container {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    z-index: 10;
}

table {
    table-layout: fixed;
    width: 90%;
    border-collapse: collapse;
    border: 3px solid black;
    word-break: break-all;
    background-color: white;
}

.center-block {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.create-order-container {
    width: 70%;
}

.order-container {
    width: 70%;
}

body {
    background-image: url('../Images/background.png');
    background-attachment: fixed;
    background-size: 100% 100%;
}

.static-content{
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 80%;
    border-radius: 20px;
}